button {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    width: 4rem;
    height: 5.5rem;
    cursor: pointer;
    font-size: 2rem;
    font-family: Arial, sans-serif;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}