/* You can add global styles to this file, and also import other style files */
button {
    background-color: white;
    border: 2px solid black;
    font-size: 1.5em;
    font-family: Arial, sans-serif;
    cursor: pointer;
}

